<% include ./partials/header %>
<div class="container">
  <h2>Sign up for your free GamelanBook account</h2>
  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
  </form>
</div>
<% include ./partials/footer %>