<% include ../partials/header %>


<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h1>GamelanBook</h1>
      <p>One stop shopping for all Gamelan Events in Southern California</p>
      <a class="btn btn-primary btn-large" href="/groups/new">Add a new group</a>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% groups.forEach(function(group){ %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= group.image %>">
        </div>
        <div class="caption">
          <h4><%= group.name %></h4>
          <p><%= group.genre %></p>
        </div>
        <p>
          <a href="/groups/<%= group._id %>" class="btn btn-primary">More Info</a>
        </p>
      </div>
    <% }) %>
  </div>
 
  


</div> 
<% include ../partials/footer %>